<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
There are <%= @products %> <a href="/" class="link">products</a> on the website
 in <%= @catagories %> categories